<a href="https://colab.research.google.com/github/fskhan00/Data_Science-Projects/blob/master/Data_Analyst_Extended.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [63]:
df = pd.read_csv('/content/DataAnalyst.csv')

In [64]:
df.shape

(2253, 16)

In [65]:
df.head(5)

   Unnamed: 0  ... Easy Apply
0           0  ...       True
1           1  ...         -1
2           2  ...         -1
3           3  ...         -1
4           4  ...       True

[5 rows x 16 columns]

In [66]:
df['Salary Estimate'],_=df['Salary Estimate'].str.split('(', 1).str

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [67]:
df['salary_Min'], df['salary_Max']= df['Salary Estimate'].str.split('-').str
df['salary_Min']= pd.to_numeric(df['salary_Min'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0));
df['salary_Max']= pd.to_numeric(df['salary_Max'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0));

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """Entry point for launching an IPython kernel.

In [69]:
df.drop(['Salary Estimate'], axis =1, inplace=True )

In [84]:
df.isna().sum()

Unnamed: 0           0
Job Title            0
Job Description      0
Rating               0
Company Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy Apply           0
salary_Min           0
salary_Max           0
dtype: int64

In [83]:
df[df['salary_Max'] ==np.isnan(df['salary_Min'])]=0